body{
    background-color:rgb(236, 236, 236);
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}
.navbar{
    background:rgba(30, 206, 103, 0.877);
    min-height:60px;
    padding: 20px;
}
.nav-link{
    font-family: 'Sansita';font-size: 22px;
}
.logo{
    display:block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
}

.logo2{ 
    display:block;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    width: 200px;
}

.btn-criar_conta{
    background:rgba(228, 66, 66, 0.904);
    font-family: 'Sansita';font-size: 18px;
    color: white;
    width: 140px;
    margin-top: 10px;
    margin-right:15px;
    
}
.links{
    color:black;
    margin-top: 6px;
    font-family: 'Sansita';
    font-size: 30px;
}

.btn-entrar{
    background:rgb(255, 255, 255);
    font-family: 'Sansita';font-size: 18px;
    color: rgb(0, 0, 0);
    width: 140px;
    margin-top: 10px;
}

.img2{
    display:block;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    border-radius: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
}

.copyright{
    font-family: 'Sansita';font-size: 20px;
    margin-top: 28px;
}

.footerr{
    margin-top:100px;
    background-color:rgba(196, 73, 73, 0.753);
    padding: 30px;
    bottom: 0px;
    display: table-row;
    height: 0;
}

.div4{
    margin-top:120px;
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:600px;
}

.clay{
    margin-left: 10px;
}

.but{
    display:block;
    margin-bottom: 100px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

@media screen and (max-width:1400px){
}

@media screen and (max-width:1212px){
    .img2{
        display:none;
    }
}

@media screen and (max-width:991px) {
    .btn-criar_conta{
        background:rgba(228, 66, 66, 0.904);
        font-family: 'Sansita';font-size: 18px;
        color: white;
        width: 140px;
        margin-top: 10px;
    }
    .btn-entrar{
        background:rgb(255, 255, 255);
        font-family: 'Sansita';font-size: 18px;
        color: rgb(0, 0, 0);
        width: 140px;
        margin-top: 10px;
    }
    

    .logo{
        display:block;
        margin-left:auto;
        margin-right: auto;
        text-align: center;
        width: 250px;
        margin-top: 20px;
    }
    .links{
        color:black;
        margin-top: 6px;
        font-family: 'Sansita';
        font-size: 26px;
        text-align:center;
    }
    .copyright{
        text-align: center;
        margin-right:0 auto;
        margin-left: 0 auto;
    }
    
}

@media screen and (max-width:768px){
}
 
@media screen and (max-width:530px){
}
